[Desktop Entry]
Name=HTYChat
Comment=聊天软件
Exec=/media/sonichy/job/HY/Linux/Qt/HTYChat/HTYChat
Icon=/media/sonichy/job/HY/Linux/Qt/HTYChat/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYChat
Terminal=false
Type=Application
MimeType=
Categories=[Desktop Entry]
Name=HTYChat
Comment=聊天软件
Exec=/media/sonichy/job/HY/Linux/Qt/HTYChat/HTYChat
Icon=/media/sonichy/job/HY/Linux/Qt/HTYChat/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYChat
Terminal=false
Type=Application
MimeType=
Categories=
